@import '../variables.scss';

.note {
  display: flex;
  flex-direction: row;
  width: 100%;
 
  margin: 0px 10px 20px 10px;
  padding: 5px;

  box-shadow: $boxShadow;
  border-radius: 5px;
  cursor: pointer;

  &-info {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  &-theme {
    font-size: 20px;
    margin-bottom: 15px;
    flex-grow: 1;
  }

  &-date {
    color: $gray;
    flex-grow: 2;
  }

  &-description {
    flex-grow: 1;
  }

  &:hover {
    background-color: $hoverElement;
  }

  &_delete-icon {
    flex-shrink: 0;
    height: 38px;
    width: 25px;
    cursor: pointer;
    
    &:hover {
      fill: $CFTred;
    }
  }
}

.next-lesson {
  margin-left: 150px;
  min-width: 300px;

  &__title {
    margin-bottom: 15px;
  }
}
