@import '../preloader/preloader.scss';
@import '../variables.scss';

.students-list {
  &__loading {
    @extend %block-preloader;
  };
  
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  padding-bottom: 10px;
}

.add-btn {
  margin-top: 20px;
  margin-left: 30px;
  width: 200px;
}

.filtered-btns {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.filter-btn {
  margin-bottom: 15px;
  width: 300px;
}

.empty-msg {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 20px;
  color: $CFTred;
}