@import '../variables.scss';

.student-form {
  margin-left: 30px;
  margin-top: 10px;
  padding: 20px 0px 20px 10px;
  border: 1px solid $grayBorder;
  width: 500px;
}

.student-form_attr {
  font-size: 20px;
  display: flex;
  padding-bottom: 5px;
}

.student-form_attr__label {
  width: 100px;
}

.student-form_attr__input{
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.submit-btn {
  height: 30px;
  width: 100px;
}
