@import '../variables.scss';

.student-full-form {
  padding: 20px;  
  position: absolute; 
  top: 30%;
  left: 43%;
  margin-top: -105px;
  margin-left: -105px;
  background: $white;
  border: $black 1px solid;
  width: 500px;
  height: 500px;
  box-shadow: $boxShadow;
}

.student-full-form_attr {
  font-size: 20px;
  display: flex;
  padding-bottom: 5px;
}

.student-full-form_attr__label {
  width: 77px;
}

.student-full-form_attr__input, 
.student-full-form_attr__select,
.student-full-form_attr__textarea {
  margin-left: 10px;
  font-size: 18px;
}

.student-full-form_attr__textarea {
  width: 324px;
  max-width: 344px;
  height: 253px;
  max-height: 286px;
}

.submit-btn {
  margin-top: 15px;
  height: 30px;
  width: 100px;
}