.main-header {
  padding: 20px 30px 10px 35px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.14);

  &__title {
    margin-bottom: 5px;
  }

  &__date {
    margin-bottom: 20px;
  }

  &__content-name {
    margin-bottom: 5px;
  }
}
