@import '../variables.scss';

.student {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 24px;
  line-height: 40px;
  cursor: pointer;

  padding-left: 30px;
  padding-right: 30px;
  
  &:hover {
    background-color: $hoverElement;
  }

  &_title {
    width: 500px;
  }

  &_active{
    color: $green;
  }

  &_fired {
    color: $red;
  }

  &_delete-icon {
    height: 38px;
    width: 25px;
    cursor: pointer;
    
    &:hover {
      fill: $CFTred;
    }
  }
 
}
