@import '../variables.scss';

.create-lesson-form {
  margin-left: 30px;
  margin-top: 10px;
  padding: 20px 0px 20px 10px;
  width: 700px;
  height: 500px;

  display: flex;
  flex-direction: column;
}

.lesson-form_attr {
  width: 100%;
  font-size: 20px;
  display: flex;
  padding-bottom: 5px;
  margin-bottom: 15px;

  &__label {
    width: 150px;
  }

  &__input{
    font-size: 18px;
  }

  &__textarea{
    height: 219px;
    width: 409px;
    font-size: 20px;
  
    max-height: 315px;
    max-width: 453px;
  }
}

.submit-btn {
  height: 45px;
  width: 100px;
}
