@import '../variables.scss';

.lesson {
  display: flex;
  flex-direction: column;
 
  margin: 0px 10px 20px 10px;


  padding: 5px;
  width: 250px;
  max-height: 300px;

  box-shadow: $boxShadow;
  border-radius: 5px;
  cursor: pointer;

  &-theme {
    font-size: 20px;
    margin-bottom: 15px;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-date {
    color: $gray;
    flex-grow: 2;
  }

  &-section {
    flex-grow: 1;
  }

  &:hover {
    background-color: $hoverElement;
  }
}
