@import '../preloader/preloader.scss';
@import '../variables.scss';

.main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  
  margin-top: 30px;
  width: 100%;
  max-width: 1280px;

  border-top: 2px $CFTred solid;
  background: $white;
}
