@import '../variables.scss';

.full-lesson {
    display: flex;
    flex-direction: row;
    margin: 40px;
}


.lesson-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__name {
        font-size: 36px;
        margin-bottom: 10px;
    }

    &__date {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__block {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__resourse {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &____description-title {
        margin-bottom: 10px;
    }

    &__icon {
        margin-right: 10px;
        height: 38px;
        width: 25px;

        &:hover {
            cursor: pointer;
            fill:$CFTred;
        }
    }
}

.icons {
    flex-shrink: 0;
}

