@import '../variables.scss';

.note-form {
  margin-left: 30px;
  margin-top: 10px;
  padding: 20px 0px 20px 10px;
  border: 1px solid $grayBorder;
  width: 500px;

  &_attr {
    font-size: 20px;
    display: flex;
    padding-bottom: 5px;
  }

  &_attr__label {
    width: 150px;
  }

  &_attr__input{
    font-size: 18px;
    padding: 0;
    margin: 0;
  }

  &_attr__textarea {
    max-height: 176px;
    max-width: 318px;
  }
}
