@import '../variables.scss';

.navigation {
  display: flex;
  flex-direction: row;
  height: 50px;
  margin-top: 4px;
}

.navigation-point {
  margin-left: 15px;
  padding: 13px 5px 0px 5px;
  color: $black;
  text-decoration: none;

  &:hover {
    cursor: pointer;
    color: $CFTred;
    background-color: $hoverElement;
  }

  &:last-child::before {
    content: ' ';
    position: relative;
    left: -10px;
    width: 100%;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
}
