@import '../variables.scss';

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

%preloader {
  display: inline-block;

  transform: translateZ(0);
  animation: rotating 0.7s linear infinite;

  border: 5px solid rgba($CFTred, 0.3);
  border-top-color: $CFTred;
  border-radius: 50%;

  font-size: 0;
  line-height: 0;
}

%block-preloader {
  position: relative;

  &:after {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(#fff, 0.4);
  }

  &:before {
    position: absolute;
    z-index: 1100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 64px;
    height: 64px;
    margin: auto;

    content: '';

    @extend %preloader;
  }
}
