@import '../preloader/preloader.scss';
@import '../variables.scss';

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  height: 55px;
  background: $white;
  box-shadow: $boxShadow;
}

.header-content {
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}
