$fontFamily: 'Open Sans';
$backgroundColor: #E5E5E5;
$boxShadow: 0px 1px 6px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.14);
$white: #ffffff;
$black: #000000;
$CFTred: #ed1941;
$hoverElement: #e6e6e6;
$gray: #808080;
$green: #008000;
$red: #ff0000;
$grayBorder: #E5E5E5;