@import '../preloader/preloader.scss';
@import '../variables.scss';

.lessons-list {
  &__loading {
    @extend %block-preloader;
  };

  display: grid;
  grid-gap: 11px;
  grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));

  margin: 30px;
}

.add-lesson-btn {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-left: 40px;
  height: 70px;
  width: 70px;
  font-size: 47px;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid $gray;
  color: $black;

  &:hover {
    background-color: $hoverElement;
  }
}
