@import '../preloader/preloader.scss';
@import '../variables.scss';

.content {
  &__loading {
    @extend %block-preloader;
  };

  display: flex;
  flex-direction: row;

  margin: 30px;
}

.notes-list {
  flex-grow: 2;
}

.next-lesson {
  flex-grow: 1;
}

.add-btn-note {
  margin-top: 20px;
  margin-left: 40px;
  width: 50px;

  &:hover {
    background-color: $hoverElement;
  }
}