@import '../preloader/preloader.scss';
@import '../variables.scss';

.footer {
  display: flex;
  flex-direction: row;

  margin-top: 10px;

  width: 100%;
  max-width: 1280px;
  height: 55px;

  color: $gray;
}
