@import '../variables.scss';

.breadcrumbs {
  margin-top: 30px;
  width: 100%;
  max-width: 1280px;
}

.container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.breadcrumb {
  margin-bottom: 0;
  line-height: 2.5;
  display: inline-block; 
  text-decoration: none;
  color: black;

  &:not(:first-child)::before {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    color: $gray;
    content: "/"; 
  }
}

.bread-text {
  text-decoration: none;
  color: $black;

  &:hover {
    text-decoration: underline;
  }
}