@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import '../variables.scss';

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $fontFamily;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
  background: $backgroundColor;
}