.full-student {
    display: flex;
    margin: 40px;
}

.student-photo{
    height: 300px;
    margin-right: 40px;
}

.student-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 800px;

    &__name {
        font-size: 36px;
        margin-bottom: 10px;
    }

    &__location {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__age {
        font-size: 22px;
        margin-bottom: 10px;
    }

    &__status {
        font-size: 20px;
        margin-bottom: 20px;
    }

    &____description-title {
        margin-bottom: 10px;
    }

    &____description {
        width: 100%;
    }

    &__icon {
        margin-right: 10px;
        height: 38px;
        width: 25px;

        &:hover {
            cursor: pointer;
            fill:red;
        }
    }
}

